body.bg, a {
    color: rgba(255, 255, 255,.8);
    text-shadow:0 1px 5px rgba(0,0,0,.1)
}

div.imagecredit {
    bottom: 0;
    clear: right;
    float: right;
    right: 0;
    position: absolute;
    font-size:12px;
    padding: 10px 8px 10px 8px
}



#container{
    background-color: rgb(0, 0, 0,.93);
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    padding: 10px;
    z-index: 0;
}

.display_none{ 
   display: none;
} 
.mw-feed {
    font-size: 14px;
    line-height: 1.6;
}

.topnav {
    font-size: 15px;
}

hr {
    height:1px;
    border:none;
    border-top:1px solid #555555;
}

.left_bottom {
    bottom: 0;
    position: absolute;
    font-size: 15px;
    padding: 10px 8px 10px 8px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.nav {
    display: inline;
    float: left;
}

li.nav a {
    display: block;
    text-align: center;
    padding: 0px 8px;
    text-decoration: none;
    color: rgba(255, 255, 255, .8);
}

li.nav a:hover, div#about a:hover { 
    background: rgba(0,0,0,.1); 
    color: rgba(255, 255, 255);
}
div#about a {
    display: block;
    text-align: center;
    padding: 0px 8px;
    text-decoration: none;
}
:link:hover { 
    color: rgba(255, 255, 255);
}

div.topnav ul ul {
    display: none;
  }

div.topnav li#today:hover > ul {
    display: block;
    text-align: center;
    padding: 0px 8px;
  }

ul.todaymp {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      width: 100px;
      background-color:   rgba(0,0,0,.1);
      font-size: 14px;
  }

li#today {
    text-align: left;
    width: 80px;
  }
ul.todaymp li {
    text-align: left;
    line-height: 30px;
    padding: 5px 0 0 0;
    margin: 0px;
}


ul.todaymp li a {
    text-align: left;
}

div#today_block{
    background-color: rgb(0, 0, 0,.93);
    /*width: 30%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    padding: 0 20px 0 20px;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
    text-justify: auto;
}

.block_close{
    float: right;
    font-size: 24px;
    text-decoration: none;
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 999;
}
